
  <div class="container">
    <div class="carousel-caption">
      <h1>EXPERIENCE - TRANSIT - TRANSPORT</h1>
        <p>Toute Opération de Transit, Transport, Courtages et Expéditions.</p>
        <ul class="list-inline intro-social-buttons">
            <li>
                <a href="https://twitter.com/{{ site.twitter_username }}" class="btn btn-default btn-sm"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
            </li>
            <li>
                <a href="https://www.facebook.com/{{ site.facebook_username }}" class="btn btn-default btn-sm"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
            </li>
        </ul>
    </div>
  </div>