<a  name="contact"></a>
<div class="banner">
    <div class="container">
        <section>
            <p></p>
            <p><i class="fa fa-phone"></i> Mali {{ site.phone_223 }} </p>
            <p><i class="fa fa-phone"></i> Sénegal {{ site.phone_221 }} </p>
            <p><i class="fa fa-envelope"></i> <a href="mailto:{{ site.email }}" style="color: black;">{{ site.email }}</a></p>
        </section>
        <section>
            <p>Sise : Dakar Boulevard centenaire 4,5km sur la route de Rufisque</p>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d862.9947751494877!2d-17.43400643767539!3d14.713760389474743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTTCsDQyJzQ5LjUiTiAxN8KwMjYnMDAuMyJX!5e1!3m2!1sfr!2sus!4v1461182765855" width="100%" height="280" frameborder="0" style="border:0px" allowfullscreen></iframe>
            </div>
        </section>
    </div>
</div>