<a  name="services"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">TRANSPORT AÉRIEN</h2>
                <p class="lead">EX-TRA-T vous garantit rapidité et exactitude sur vos opérations aériennes grâce à notre partenariat avec les compagnies aériennes présentes sur le marché.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 gmi">
                <img class="img-responsive" src="img/by-plane.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">TRANSPORT ROUTIER</h2>
                <p class="lead">Grâce à une flotte de camions de tous gabarits à travers des partenaires spécialisés, nous assurons des départs réguliers depuis différentes plateforme depuis l’Europe à l’import comme à l’export.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6"  id="cf">
                <div class="diapo1"> </div>
            </div>
        </div>
    </div>
</div>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">TRANSPORT FERROVIAIRE</h2>
                <p class="lead">Transporteur ferroviaire de marchandises en Afrique et en Europe, Fret Ex-Tra-T conçoit des solutions de transport nationales et internationales adaptées à chaque secteur d’activité et aux enjeux des clients chargeurs.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 gmi">
                <img class="img-responsive" src="img/by-train.jpg" alt="">
            </div>
        </div>
    </div>
</div>
